  <h1>Summaries</h1>

<div class="row">
  <div class="col-md-8">
    <% @summaries.each do |summary| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to summary.title, topic_post_path(summary.post.topic, summary.post) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>